 .navbar-container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 400px; */
    /* overflow:hidden; */
 
  }

.nav_items{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
  .resume{
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin-left: 40px;
   
  }
  .resume:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;

    color: #010606;
  }
  .extra{
    /* position: absolute; */
    /* width: 200px; */
  }
 .myname{
  color:white;
  /* float:left; */
  text-decoration: none;

 }

 @media screen and (max-width:385px) {
   .navbar-container{
     /* justify-content: right; */
   }
   
   .myname{
/* float:right; */
    font-size: 20px;
    }
    
   .resume{
     display: none;
    margin-left: 0px;
  }
  }

  @media screen and (max-width:320px) {
    .myname {
      margin-left: 0px;
   
     }
   
    .resume{
    display: none;
   }
   }
   @media screen and (max-width:270px) {
    .myname{
   display: none;

  }

}