
  .nav-menu {
    /* background-color: #060b26; */
    /* background-color:blueviolet; */
    /* opacity:80%; */
    display: flex;
    justify-content: center;
    /* position: fixed; */
    /* top */
    left: -100%;
    transition: 80ms;
    /* flex-direction: column; */
    width: 200PX;
    height: 250px;
    position: absolute;
    TOP: 50px;
    /* transition: all 0.5s ease; */
  }

  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    display: none;
    color: #fff;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    height: 250px;
    border-radius: 20px;
    margin-top: 1px;
    background: #242222;
    left: 0;
    /* opacity: 80%; */
    transition: all 0.5s ease;
    z-index: 1;
  }



  @media screen and (max-width:768px) {

    .menu-bars{
    display: block;
    position: absolute;
    top: 10;
    margin-left: 0px;
    /* transform: translate(-100%, 75%); */
    font-size: 1.8rem;
    cursor: pointer;
  }

}
@media screen and(min-width:768px) {
  .nav-menu{
    display: none;
    
  }
}

.nav-text {
  display: flex;
  /* justify-content: start; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 28px 0px 8px 16px;
  list-style: none;
  height: 60px;
  
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 26px;
  /* border-radius: 4px; */
}

.nav-text a:hover {
  background-color: blue;
  border-radius: 20px;
}

/* @media screen and(max-width:420px)  {
  .menu-bars{
    margin: 1px;
  }
} */

@media screen and(max-width:270px)  {
.nav-menu .nav-menu:hover{
  /* width: 100%; */
}
}

@media screen and(min-width:270px)  {
  .nav-text-resume{
  display: none;
   
  }
  }